.Rproj.user
.Rhistory
.RData
.DS_Store
kindlegen*
rsconnect
_book
CMake*
Makefile
_bookdown.yml
cover.tex
build-book.sh
cmake_install.cmake
rstudio-server-pro-*-admin-guide.*
_main.html
*.zip

_variables.yml
_site/
/.quarto/
